{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Create Listing</h2>

    <form action="{% url 'create_listing' %}" method="POST">
        {% csrf_token %}
        <div class="mb-3">
            <label>Title</label>
            <input type="text" name="title" class="form-control" placeholder="enter title">
        </div>
        <div class="mb-3">
            <label>description</label>
            <input type="text" name="description" class="form-control" placeholder="enter description">
        </div>
        <div class="mb-3">
            <label>image url</label>
            <input type="text" name="image url" class="form-control" placeholder="enter image url">
        </div>
        <div class="mb-3">
            <label>price</label>
            <input type="number" min="1" step="any" name="price" class="form-control" placeholder="enter price">
        </div>
        <label>Category</label>
        <select class="form-select" aria-label="Default select example" name="category">
            {% for c in cats %}
                <option>{{ c }}</option>
            {% endfor %}
        </select>
        <br>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form> 
{% endblock %}